node_modules
.docker-volumes

# Webstorm
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/usage.statistics.csv
.idea/shelf/
.idea/dictionaries/
.idea/caches/
.idea/logs/
.idea/*.tmp
.idea/*.local.xml
.idea/generated/
.idea/dataSources/
.idea/plugins/
.idea/[pP]lugin[ss]*/